* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: rgb(197, 229, 255);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}

ul li, ol li {
    color: rgb(82, 82, 82);
}

ul li {
    list-style-type: circle;
}